<h1>{{name}} </h1>
<h2>Farmer: <a href="/farmer/{{Farmer.id}}">{{Farmer.email}}</a></h2>
<h3>{{Farmer.city}}</h3>
<p>{{description}}</p>
<h3>{{dob}}</h3>
{{#each Tags}}
  <button class="tagBtn">{{tag}}</button>
{{/each}}
{{#if CaretakerId}}
  <h2>Currently enjoying life with {{Caretaker.email}}</h2>
{{else}}
  <h2>This pig is looking for a home!</h2>
  {{#if isCaretaker}}
    <button data-userid="{{userId}}" data-pigid="{{id}}"id="adoptBtn">Adopt this Pig!</button>
    <script src="/js/adopt.js"></script>
  {{/if}}
{{/if}}
